<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center" style="height:100%">
          <div class="add-product" @click="showModal" @keydown.="closeModal">
            <h3>اضافه کردن محصول</h3>
            <i class="nc-icon nc-simple-add"></i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <card>
            <template slot="header">
              <h3 class="card-title mb-2">آخرین محصولات</h3>
              <p class="card-category">تمامی محصولات شما در این محل لیست میشوند</p>
            </template>
            <div class="row">
              <div class="col-md-12" dir="rtl">
                <div class="card-deck">
                  <div class="product-card card mb-5">
                    <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Left_side_of_Flying_Pigeon.jpg/1200px-Left_side_of_Flying_Pigeon.jpg" style="width:100%" alt="">
                    <div class="middle">
                        <button type="submit" class="btn btn-primary btn-fill" @click.prevent="updateProfile">
                          ویرایش محصول
                        </button>
                    </div>
                    <div class="product-details d-flex justify-content-between">
                      <p class="m-0">تعداد فروش 50</p>
                      <p class="m-0">10.000 تومان</p>
                    </div>
                  </div>
                  <div class="product-card card mb-5">
                    <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Left_side_of_Flying_Pigeon.jpg/1200px-Left_side_of_Flying_Pigeon.jpg" style="width:100%" alt="">
                    <div class="middle">
                        <button type="submit" class="btn btn-primary btn-fill" @click.prevent="updateProfile">
                          ویرایش محصول
                        </button>
                    </div>
                    <div class="product-details d-flex justify-content-between">
                      <p class="m-0">تعداد فروش 50</p>
                      <p class="m-0">10.000 تومان</p>
                    </div>
                  </div>
                  <div class="product-card card mb-5">
                    <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Left_side_of_Flying_Pigeon.jpg/1200px-Left_side_of_Flying_Pigeon.jpg" style="width:100%" alt="">
                    <div class="middle">
                        <button type="submit" class="btn btn-primary btn-fill" @click.prevent="updateProfile">
                          ویرایش محصول
                        </button>
                    </div>
                    <div class="product-details d-flex justify-content-between">
                      <p class="m-0">تعداد فروش 50</p>
                      <p class="m-0">10.000 تومان</p>
                    </div>
                  </div>
                  <div class="product-card card mb-5">
                    <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Left_side_of_Flying_Pigeon.jpg/1200px-Left_side_of_Flying_Pigeon.jpg" style="width:100%" alt="">
                    <div class="middle">
                        <button type="submit" class="btn btn-primary btn-fill" @click.prevent="updateProfile">
                          ویرایش محصول
                        </button>
                    </div>
                    <div class="product-details d-flex justify-content-between">
                      <p class="m-0">تعداد فروش 50</p>
                      <p class="m-0">10.000 تومان</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </card>
        </div>
      </div>
    </div>
  <transition name="modal-fade"
  v-if="isModalVisible"
  @click="closeModal">
    <div class="modal-backdrop">
      <div class="modal"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header
          class="modal-header"
          id="modalTitle"
        >
          <slot name="header">
            <button type="button" class="btn-close" @click="closeModal" aria-label="Close modal">&times;</button>
            <h3>اضافه کردن محصول جدید</h3>
          </slot>
        </header>
        <section class="modal-body" id="modalDescription">
          <slot name="body">
            <card dir="rtl">
                    <form>
                      <div class="row">
                        <div class="col-md-5">
                          <fg-input type="text"
                                    label="عنوان  محصول"
                                    placeholder="نام محصول را در اینجا وارد کنید"
                                    v-model="user.name">
                          </fg-input>
                        </div>
                        <div class="col-md-3">
                          <fg-input type="text"
                                    label="قیمت محصول"
                                    placeholder="قیمیت محصول را وارد کنید"
                                    v-model="user.username">
                          </fg-input>
                        </div>
                        <div class="col-md-4">
                          <fg-input type="text"
                                    label="قیمت محصول"
                                    placeholder="قیمیت محصول را وارد کنید"
                                    v-model="user.username">
                          </fg-input>
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>توضیحات محصول</label>
                            <textarea rows="5" class="form-control border-input"
                                      placeholder="Here can be your description"
                                      v-model="user.aboutMe">
                              </textarea>
                          </div>
                        </div>
                      </div>
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-fill" @click.prevent="updateProfile">
                          اضافه کردن محصول
                        </button>
                        <button type="submit" class="btn btn-primary btn-fill" @click.prevent="updateProfile">
                          اضافه کردن ویژگی های اضافی
                        </button>
                      </div>
                      <!-- <div class="clearfix"></div> -->
                    </form>
                    </card>
          </slot>
        </section>
        <footer class="modal-footer">
          <slot name="footer">
            I'm the default footer!

            <button
              type="button"
              class="btn-green"
              @click="closeModal"
              aria-label="Close modal"
            >
              Close me!
            </button>
          </slot>
        </footer>
      </div>
    </div>
  </transition>
  </div>
</template>
<script>
  import Card from 'src/components/UIComponents/Cards/Card.vue'

  export default {
    components: {
      Card
    },
    data () {
      return {
        show: false,
        user: {
          name: 'Paper Dashboard',
          username: 'michael23',
          email: '',
          firstName: 'Mike',
          lastName: 'Andrew',
          address: 'Melbourne, Australia',
          city: 'melbourne',
          country: 'Australia',
          postalCode: '',
          aboutMe: `Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.`
        },
        isModalVisible :false
      }
    },
    methods: {
      close: function () {
        // this.$emit('close')
      },
      showModal() {
        this.isModalVisible = true;
      },
      closeModal() {
        this.isModalVisible = false;
      }

    }
  }

</script>
<style scoped>
@font-face{
  font-family: 'IranYekan';
  src: url('../../../assets/Fonts/iranyekan.ttf')
}
.card,h1,h2,h3,h4,h5,h6,p,a{
  font-family: 'IranYekan' !important;
}
.add-product{
  border: 2px dashed #d4d4d4;
  padding: 45px 0;
  background: #fff;
  margin: 10px 0;
  cursor: pointer;
}
img{
  opacity: 1;
  display: block;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.product-card{
  position: relative;
  background: #F7F9F9;
  border-radius: 6px;
  width: 100%;  
}
.product-card:hover img{
  opacity: 0.3;
}
.product-card:hover .middle{
  opacity: 1;
}
.text{
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  padding: 16px 32px;
}
.product-details{
  padding: 15px;
}
.nc-simple-add{
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .product-details{
    /* flex-direction: column; */
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .product-card{
    width: 150%;
  }
}
textarea{
  height: 150px;
}
/*Modal styling*/
  .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    /* justify-content: center;
    align-items: center; */
  }

  .modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    height: 210%;
  }

  .modal-header,
  .modal-footer {
    padding: 15px;
    display: flex;
  }

  .modal-header {
    border-bottom: 1px solid #eeeeee;
    color: #4AAE9B;
    justify-content: space-between;
  }

  .modal-footer {
    border-top: 1px solid #eeeeee;
    justify-content: flex-end;
  }

  .modal-body {
    position: relative;
    padding: 20px 10px;
  }

  .btn-close {
    border: none;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #4AAE9B;
    background: transparent;
  }

  .btn-green {
    color: white;
    background: #4AAE9B;
    border: 1px solid #4AAE9B;
    border-radius: 2px;
  }
 .modal-fade-enter,
  .modal-fade-leave-active {
    opacity: 0;
    transform: scale(1.4)
  }

  .modal-fade-enter-active,
  .modal-fade-leave-active {
    transform: scale(1.2);
    transition: all .5s ease
  }

</style>
