<template>
  <card dir="rtl">
    <h4 slot="header" class="card-title">تنظیمات فروشگاه</h4>
    <form>
      <div class="row">
        <div class="col-md-6">
          <fg-input type="text"
                    label="نام فروشگاه"
                    placeholder="نام فروشگاه خود را وارد کنید"
                    v-model="shop.name">
          </fg-input>
        </div>
        <div class="col-md-6">
          <fg-input type="text"
                    label="دسته بندی فروشگاه"
                    placeholder="Username"
                    v-model="shop.category">
          </fg-input>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <fg-input type="text"
                    label="شماره تماس فروشگاه"
                    placeholder="First Name"
                    v-model="shop.shopNumber">
          </fg-input>
        </div>
        <div class="col-md-6">
          <fg-input type="text"
                    label="ایمیل فروشگاه"
                    placeholder="Last Name"
                    v-model="shop.email">
          </fg-input>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <fg-input type="text"
                    label="آدرس فروشگاه"
                    placeholder="Home Address"
                    v-model="shop.address">
          </fg-input>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <fg-input type="text"
                    label="شهر"
                    placeholder="شهر فروشگاه را وارد کنید"
                    v-model="shop.city">
          </fg-input>
        </div>
        <div class="col-md-6">
          <fg-input type="number"
                    label="کد پستی"
                    placeholder="ZIP Code"
                    v-model="shop.postalCode">
          </fg-input>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>توضیحات مختصر  درباره فروشگاه</label>
            <textarea rows="5" class="form-control border-input" style="height:120px"
                      placeholder="توضیحات کوتاهی درباره فروشگاه خود را در این فیلد وارد نمایید"
                      v-model="shop.description">
              </textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <h4 slot="header" class="card-title pr-3">تنظیمات ارسال</h4>
        <div class="col-md-12 px-0 mt-2">
          <div class="row text-center">
          <div class="col-md-4">ارسال رایگان</div>
          <div class="col-md-4">توضیحش</div>
          <div class="col-md-4">
            <toggle-button @change="toggleMethod" v-model="shop.postStatus.freeShipping" :value="shop.postStatus.freeShipping" :color="colors" :sync="true" :labels="lables" width=100 height=30 />
          </div>
          </div>
        </div>
        <div class="col-md-12 px-0">
          <div class="row text-center">
            <div class="col-md-4">ارسال باربری</div>
            <div class="col-md-4">توضیحش</div>
            <div class="col-md-4">
              <toggle-button @change="toggleMethod" v-model="shop.postStatus.truckShipping" :value="shop.postStatus.truckShipping" :color="colors" :sync="true" :labels="lables" width=100 height=30 />
            </div>
          </div>
        </div>
        <div class="col-md-12 px-0">
          <div class="row text-center">
            <div class="col-md-4">ارسال با پیک موتوری</div>
            <div class="col-md-4">توضیحش</div>
            <div class="col-md-4">
              <toggle-button @change="toggleMethod" v-model="shop.postStatus.bicShipping" :value="shop.postStatus.bicShipping" :color="colors" :sync="true" :labels="lables" width=100 height=30 />
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-info btn-fill float-right" @click.prevent="updateProfile">
          ذخیره تغییرات
        </button>
      </div>
      <div class="clearfix"></div>
    </form>
  </card>
</template>
<script>
  import Card from 'src/components/UIComponents/Cards/Card.vue'

  export default {
    components: {
      Card
    },
    data () {
      return {
        shop: {
          name: 'Paper Dashboard',
          category: 'michael23',
          email: 'awrminkhodaei@gmail.com',
          shopNumber: '09213883141',
          address: 'تبریز ایران خیابان 29 بهمن برج سینا طبقه ۴',
          city: 'تبریز',
          country: 'Australia',
          postalCode: '0123456789',
          aboutMe: `Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.`,
          postStatus: {
            freeShipping: true,
            truckShipping: false,
            bicShipping: false
          }
        },
        lables: {
          checked: 'فعال',
          unchecked: 'غیرفعال'
        },
        colors: {
          checked: '#28B463',
          unchecked: '#C0392B'
        }
      }
    },
    methods: {
      updateProfile () {
        alert('Your data: ' + JSON.stringify(this.shop))
      },
      toggleMethod (e) {
        console.log(e.value)
      }
    }
  }

</script>
<style>
.vue-js-switch#changed-font {
  font-size: 26px;
}

</style>
