<template>
  <card class="card-user">
    <img slot="image" src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
    <div class="author">
      <a href="#">
        <!-- <img class="avatar border-gray" src="static/img/faces/face-3.jpg" alt="..."/> -->
        <svg class="avatar border-gray" style="background:#fff" id="OBJECTS" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 646 221"><defs data-v-e07e8234=""></defs> <path data-v-e07e8234="" d="M539.23,12.08c-1.38,0-2.75.05-4.11.1a102,102,0,0,0-35.6,7.91l18.29,60.21.36,1.18a39.05,39.05,0,0,1,12.29-4.57,39.62,39.62,0,0,1,7.38-.71c21.48,0,38.89,17.15,38.89,38.3s-17.41,38.3-38.89,38.3A38.84,38.84,0,0,1,501,126.65a37.83,37.83,0,0,1-2-10.48l-5.14-2.6-40.22,55.85-.43.62a102.41,102.41,0,1,0,86-158Z" class="cls-1"></path> <path data-v-e07e8234="" d="M510.32,80.57,510,79.46,492.7,22.55,489,10.21,412.62,33.4,374,45.13l22.13,11.18-47.7,66.24-46.57,64.67L286.24,208.9h87a100.88,100.88,0,0,0,71.29-38.49q2.33-3,4.42-6.12l.4-.59,42.52-59.05.94.47,29.54,14.93Z" class="cls-2"></path> <polygon data-v-e07e8234="" points="356.71 97.03 346.59 26.86 277.29 140.16 285.87 196.68 356.71 97.03" class="cls-1"></polygon> <path data-v-e07e8234="" d="M273.49,11.46C250,13.79,229.39,28.11,215.7,49.37L211.79,56,201.44,73.42l-9,15.22-.85,1.44-7.26,12.24L156.07,150l-9,15.22-26.31,44.72H226.36L344.87,11.58l.3-.5C336.83,11.08,273.49,11.46,273.49,11.46Z" class="cls-2"></path> <path data-v-e07e8234="" d="M157.6,11.46c-23.45,2.33-44.09,16.64-57.79,37.91L95.9,56,85.56,73.42l-9,15.22-.85,1.44-7.26,12.24L40.19,150l-9,15.22L4,209.92H110.48l9.33-15.74,5-8.47L137,165.2,146,150l15-25.31,2.67-4.51,14-23.63,4.67-7.88,7.29-12.3,1.73-2.92,37.92-62.34C220.95,11.08,157.6,11.46,157.6,11.46Z" class="cls-1"></path></svg>

        <h4 class="title">فروشگاه اینویرا</h4>
      </a>
    </div>
    <p class="description text-center">خرید آنلاین محصولات نرم افزاری</p>
    <div slot="footer" class="text-center d-blcok">
      <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
      <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
      <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
    </div>
  </card>
</template>
<script>
  import Card from 'src/components/UIComponents/Cards/Card.vue'
  export default {
    components: {
      Card
    },
    data () {
      return {
        details: [
          {
            title: '12',
            subTitle: 'Files'
          },
          {
            title: '2GB',
            subTitle: 'Used'
          },
          {
            title: '24,6$',
            subTitle: 'Spent'
          }
        ]
      }
    },
    methods: {
      getClasses (index) {
        var remainder = index % 3
        if (remainder === 0) {
          return 'col-md-3 col-md-offset-1'
        } else if (remainder === 2) {
          return 'col-md-4'
        } else {
          return 'col-md-3'
        }
      }
    }
  }

</script>
<style>
h1,h2,h3,h4,h5,h6,p,a{
  font-family: 'IranYekan' !important;
}
</style>
