<template>
  <div class="wrapper">
    <side-bar>
      <sidebar-link to="/admin/overview">
        <p>داشبورد</p>
        <i class="nc-icon nc-chart-pie-35"></i>
      </sidebar-link>
      <sidebar-link to="/admin/user">
        <p>تنظیمات فروشگاه</p>
        <i class="nc-icon nc-settings-gear-64"></i>
      </sidebar-link>
      <sidebar-link to="/admin/table-list">
        <p>لیست سفارشات</p>
        <i class="nc-icon nc-tag-content"></i>
      </sidebar-link>
      <sidebar-link to="/admin/typography">
        <p>محصولات</p>
        <i class="nc-icon nc-cart-simple"></i>
      </sidebar-link>
      <sidebar-link to="/admin/icons">
        <p>آیکون ها</p>
        <i class="nc-icon nc-atom"></i>
      </sidebar-link>
      <sidebar-link to="/admin/maps">
        <p>نقشه گوگل</p>
        <i class="nc-icon nc-pin-3"></i>
      </sidebar-link>
      <sidebar-link to="/admin/notifications">
        <p>نوتیفیکیشن</p>
        <i class="nc-icon nc-bell-55"></i>
      </sidebar-link>
    </side-bar>
    <div class="main-panel">
      <top-navbar></top-navbar>

      <dashboard-content @click="toggleSidebar">

      </dashboard-content>

      <content-footer></content-footer>
    </div>
  </div>
</template>
<style lang="scss">

</style>
<script>
  import TopNavbar from './TopNavbar.vue'
  import ContentFooter from './ContentFooter.vue'
  import DashboardContent from './Content.vue'
  export default {
    components: {
      TopNavbar,
      ContentFooter,
      DashboardContent
    },
    methods: {
      toggleSidebar () {
        if (this.$sidebar.showSidebar) {
          this.$sidebar.displaySidebar(false)
        }
      }
    }
  }

</script>
